
<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <div class="container">
        <div class="col-md-3 push-left">
            <ul class="footerUL">
                <li class="footerOurC"> OUR CONTACTS</li>
                <li class="footerCountry"> USA</li>
                <li class="footerAdress">
                    <i class="footerMapIcon fa fa-map-marker"></i> 27th St New York, NY 10001</li>
                <li class="footerNumber">
                    <i class="footerPhoneIcon fa fa-phone"></i> +1 212-212-2121</li>
            </ul>
        </div>
        <div class="col-md-4 pull-right">
            <ul class="footerUL">
                <li class="footerOurC">OUR NEWSLETTER</li>
                <li class="footerInputLi">
                    <input class="footerInput" type="text" placeholder="Your email">
                    <button class="footerButton">SUBSCRIBE</button>
                </li>
            </ul>
            <ul class="footerUl footerUlSocial">
                <li>
                    <a href="#">
                        <i class="footerSocialIcons fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="footerSocialIcons fa fa-youtube-play " aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="footerSocialIcons fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="footerSocialIcons fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <h5 class="footerOutro">All rights reserved 2018</h5>
</footer>
