<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <keywords>PostHome.com - Home</keywords>

    <th:block th:replace="fragment/imports :: imports"></th:block>


</head>

<body>


<!-- navbar -->
<th:block th:replace="fragment/header :: header"/>


<!-- carousel -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="images/carousel1-01.jpg">
            <div class="container">
                <button class="btn getButton">GET STARTED</button>
            </div>
        </div>
        <div class="item">
            <img src="images/carousel2-01.jpg">
            <div class="container">
                <button class="btn getButton">GET STARTED</button>
            </div>
        </div>
    </div>
</div>


<!-- all content -->
<div class="container mainDiv">
    <h2 class="searchIntro">Welcome to PostHome.com. Currently we have 111 properites for sale and rent.
        <br> Join us and find your dream house now!</h2>

    <!-- search bar -->
    <section class="search">

        <div class="row MainSearchRow">
            <form action="">
                <div class="col-xs-3">
                    <input class="ms-input ms-input-key" type="text" placeholder="Type keywords here">
                </div>
                <div class="col-xs-3">
                    <select class="ms-input" name="" id="">
                        <option value="">All cities</option>
                        <option value="City1">City1</option>
                        <option value="City2">City2</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <select class="ms-input" name="" id="">
                        <option value="">All type of sales</option>
                        <option value="Type1">Type1</option>
                        <option value="Type2">Type2</option>
                    </select>
                </div>
                <div class="col-xs-3">
                    <button class="ms-input ms-button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </section>

    <!-- recently added -->

    <section class="recently">
        <div class="row recentlyRow">
            <h6 class="recentlyRowIntro">Recently added</h6>
            <div class="owl-carousel owl-theme">
                <th:block th:each="post : ${postList}">
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" th:src="@{'/uploads/'+${post.postImages.get(0).getImagePath()}}" alt="">
                            <span class="sale">SALE</span>
                            <p class="city" th:inline="text">
                                <i class="fa fa-map-marker"></i> [[${post.city.cityName}]]</p>
                            <th:block sec:authorize="isAuthenticated()">
                                <i th:if="${#authentication.getPrincipal().getIdFavoritePost().contains(post.idPost)}" class="fa fa-star star" th:onclick="'deleteFromFavoritePost('+${post.idPost}+')'"></i>
                                <i th:if="${!#authentication.getPrincipal().getIdFavoritePost().contains(post.idPost)}" class="fa fa-star star" th:onclick="'deleteFromFavoritePost('+${post.idPost}+')'"></i>
                            </th:block>
                            <p class="price" th:inline="text">
                                <i class="fa fa-dollar"></i> [[${post.price}]]</p>
                            <span class="sqmP" th:inline="text">
                                <i class="fa fa-dollar"> [[${post.price / post.area} + '/sq.m ']]</i>
                            </span>
                            <p class="sqm" th:text="${post.area} + ' sq.m'"></p>
                            <span class="rooms" th:text="${post.roomCount} + ' rooms'">
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name" th:inline="text">
                                        <i class="fa fa-user"></i> [[${post.user.firstName} +' ' +
                                        ${post.user.lastName}]]</p>
                                </li>
                                <li>
                                    <p class="date" th:inline="text">
                                        <i class="fa fa-calendar"></i> [[${post.postAge()}]]</p>
                                </li>
                                <li>
                                    <a th:href="@{'/post/' + ${post.idPost}}" class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </section>


    <!-- Random for sale -->
    <section class="saleSection">
        <div class="row recentlyRow">
            <h6 class="recentlyRowIntro">Random for sale</h6>
            <div class="owl-carousel owl-theme">
                <th:block th:each="post : ${randomSalePost}">
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" th:src="@{'/uploads/'+${post.postImages.get(0).getImagePath()}}" alt="">
                            <span class="sale">SALE</span>
                            <p class="city" th:inline="text">
                                <i class="fa fa-map-marker"></i> [[${post.city.cityName}]]</p>
                            <i sec:authorize="isAuthenticated()" class="fa fa-star-o star" th:onclick="'addToFavorite('+${post.idPost}+')'"></i>
                            <p class="price" th:inline="text">
                                <i class="fa fa-dollar"></i> [[${post.price}]]</p>
                            <span class="sqmP" th:inline="text">
                                <i class="fa fa-dollar"> [[${post.price / post.area} + '/sq.m ']]</i>
                            </span>
                            <p class="sqm" th:text="${post.area} + ' sq.m'"></p>
                            <span class="rooms" th:text="${post.roomCount} + ' rooms'">
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name" th:inline="text">
                                        <i class="fa fa-user"></i> [[${post.user.firstName} +' ' +
                                        ${post.user.lastName}]]</p>
                                </li>
                                <li>
                                    <p class="date" th:inline="text">
                                        <i class="fa fa-calendar"></i> [[${post.postAge()}]]</p>
                                </li>
                                <li>
                                    <a th:href="@{'/post/' + ${post.idPost}}" class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    </section>

    <!-- Random for rent -->
    <section class="rentSection">
        <div class="row recentlyRow">
            <h6 class="recentlyRowIntro">Random for rent</h6>
            <div class="owl-carousel owl-theme">
                <th:block th:each="post : ${randomRentPost}">
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" th:src="@{'/uploads/'+${post.postImages.get(0).getImagePath()}}" alt="">
                            <span class="sale">SALE</span>
                            <p class="city" th:inline="text">
                                <i class="fa fa-map-marker"></i> [[${post.city.cityName}]]</p>
                            <i sec:authorize="isAuthenticated()" class="fa fa-star-o star" th:onclick="'addToFavorite('+${post.idPost}+')'"></i>
                            <p class="price" th:inline="text">
                                <i class="fa fa-dollar"></i> [[${post.price}]]</p>
                            <span class="sqmP" th:inline="text">
                                <i class="fa fa-dollar"> [[${post.price / post.area} + '/sq.m ']]</i>
                            </span>
                            <p class="sqm" th:text="${post.area} + ' sq.m'"></p>
                            <span class="rooms" th:text="${post.roomCount} + ' rooms'">
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name" th:inline="text">
                                        <i class="fa fa-user"></i> [[${post.user.firstName} +' ' +
                                        ${post.user.lastName}]]</p>
                                </li>
                                <li>
                                    <p class="date" th:inline="text">
                                        <i class="fa fa-calendar"></i> [[${post.postAge()}]]</p>
                                </li>
                                <li>
                                    <a th:href="@{'/post/' + ${post.idPost}}" class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </th:block>

            </div>
        </div>
    </section>

</div>

<th:block th:replace="fragment/footer :: footer"/>

<!--&lt;!&ndash; Jquerys !&ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="-->
        <!--crossorigin="anonymous"></script>-->
<!--&lt;!&ndash; Bootstrap JavaScript !&ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
        <!--integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
        <!--crossorigin="anonymous"></script>-->
<!--&lt;!&ndash; OWl JS !&ndash;&gt;-->
<!--<script th:src="@{/js/owl.carousel.js}"></script>-->
<script>
    $('.owl-carousel').owlCarousel({
        stagePadding: 50,
        loop: true,
        margin: 70,
        nav: true,
        dots: false,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 2
            },
            1000: {
                items: 2
            },
            1200: {
                items: 3
            }
        }
    });
    $(".owl-prev").html('<i class="fa fa-chevron-left"></i>');
    $(".owl-next").html('<i class="fa fa-chevron-right"></i>');
</script>
</body>

</html>