<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PostHome.com - Home</title>


    <th:block th:replace="fragment/imports :: imports"/>

</head>

<body>



    <th:block th:replace="fragment/header :: header"/>



    <!-- all content -->
    <div class="container mainDiv">
        <h2 class="searchIntro">Welcome to PostHome.com. Currently we have 111 properites for sale and rent.
                <br> Join us and find your dream house now!</h2>

        <!-- search bar -->
        <section class="search">
            
                <div class="row MainSearchRow">
                        <form action="">
                            <div class="col-xs-3">
                                <input class="ms-input ms-input-key" type="text" placeholder="Type keywords here">
                            </div>
                            <div class="col-xs-3">
                                <select class="ms-input" name="" id="">
                                    <option value="">All cities</option>
                                    <option value="City1">City1</option>
                                    <option value="City2">City2</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <select class="ms-input" name="" id="">
                                    <option value="">All type of sales</option>
                                    <option value="Type1">Type1</option>
                                    <option value="Type2">Type2</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <button class="ms-input ms-button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
        </section>

        <!-- recently added -->
        <section class="recently">
            <div class="row recentlyRow">
                <h6 class="recentlyRowIntro">Recently added</h6>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star-o star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm"> 540 sq.m</p>
                            <span class="rooms">3 rooms
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <a class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm">540 sq.m</p>
                            <span class="rooms">
                                <i class="fa fa-dollar"> 3 rooms</i>
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <a class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star-o star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm"> 540 sq.m</p>
                            <span class="rooms"> 3 rooms
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <a class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star-o star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm"> 540 sq.m</p>
                            <span class="rooms">3 rooms
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <a class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Random for sale -->
        <section class="saleSection">
            <div class="row recentlyRow">
                <h6 class="recentlyRowIntro">Random for sale</h6>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star-o star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm"> 540 sq.m</p>
                            <span class="rooms">3 rooms
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <a class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star-o star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm"> 540 sq.m</p>
                            <span class="rooms">3 rooms
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <a class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star-o star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm"> 540 sq.m</p>
                            <span class="rooms">3 rooms
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <a class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star-o star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm"> 540 sq.m</p>
                            <span class="rooms"> 3 rooms
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <a class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Random for rent -->
        <section class="rentSection">
            <div class="row recentlyRow">
                <h6 class="recentlyRowIntro">Random for rent</h6>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star-o star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm"> 540 sq.m</p>
                            <span class="rooms"> 3 rooms
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <a class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star-o star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm"> 540 sq.m</p>
                            <span class="rooms"> 3 rooms
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <a class="btn moreButton">MORE</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star-o star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm"> 540 sq.m</p>
                            <span class="rooms">3 rooms
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <button class="btn moreButton">MORE</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <div class="container-fluid adDiv">
                            <img class="adImg" src="images/1.jpg" alt="">
                            <span class="sale">SALE</span>
                            <p class="city">
                                <i class="fa fa-map-marker"></i> Chigago</p>
                            <i class="fa fa-star-o star"></i>
                            <p class="price">
                                <i class="fa fa-dollar"></i> 420.000</p>
                            <span class="sqmP">
                                <i class="fa fa-dollar"> 750/sq.m</i>
                            </span>
                            <p class="sqm"> 540 sq.m</p>
                            <span class="rooms"> 3 rooms
                            </span>
                            <ul class="adBottom">
                                <li>
                                    <p class="name">
                                        <i class="fa fa-user"></i> Jeff Beck</p>
                                </li>
                                <li>
                                    <p class="date">
                                        <i class="fa fa-calendar"></i> 1 day ago</p>
                                </li>
                                <li>
                                    <button class="btn moreButton">MORE</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- footer -->
    <th:block th:replace="fragment/footer :: footer"/>




</body>

</html>