<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <keywords>PostHome.com - New Post</keywords>


    <th:block th:replace="fragment/imports :: imports"></th:block>

</head>

<body>


    <th:block th:replace="fragment/header :: header"/>


  

    <div class="postIntroDiv">
        <div class="container">
            <h1 class="postIntro">Post your house</h1>
            <span class="postAdress">
                <p>home ></p>
                <p>sell</p>
            </span>
        </div>
    </div>

    <div class="container postDiv">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group postFormGroup">
                    <label for="usr">Title</label>
                    <input type="text" class="form-control postInput" id="usr" placeholder="Northwest apartments">
                </div>
                <div class="form-group postFormGroup">
                    <label for="usr">Location</label>
                    <select class="form-control postInput" id="usr">
                        <option value="" selected disabled>Please select</option>
                        <option value="City1">City1</option>
                        <option value="City2">City2</option>
                    </select>
                </div>
                <div class="form-group postFormGroup">
                    <label for="usr">Post type</label>
                    <select class="form-control postInput" id="usr">
                        <option value="" selected disabled>Please select</option>
                        <option value="Sale">Sale</option>
                        <option value="Rent">Rent</option>
                    </select>
                </div>
                <div class="form-group postFormGroup">
                    <label for="usr">Property type</label>
                    <select class="form-control postInput" id="usr">
                        <option value="" selected disabled>Please select</option>
                        <option value="Flat">Flat</option>
                        <option value="Apartment">Apartment</option>
                        <option value="Studio">Studio</option>
                    </select>
                </div>
                <div class="form-group postFormGroup">
                    <label for="usr">Price (monthly)</label>
                    <button class="btn postButtonPrice">$</button>
                    <input type="number" class="form-control postInput postInputPrice" id="usr" placeholder="300.000">
                </div>
                <div class="form-group postFormGroup">
                    <label for="usr">Photos (up to 6)</label>
                    <div class="input-group input-file ">
                        <input type="file" multiple id="select" class="form-control myChooseFile valid" accept="image/x-png,image/gif,image/jpeg">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group postFormGroup">
                    <label for="usr">Rooms</label>
                    <select class="form-control postInput" id="usr">
                        <option value="" selected disabled>Please select</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
                <div class="form-group postFormGroup">
                    <label for="usr">Area (sq.m)</label>
                    <input type="number" class="form-control postInput" id="usr" placeholder="540">
                </div>
                <div class="form-group postFormGroup">
                    <label for="usr">Desription (300)</label>
                    <textarea type="text" cols="30" rows="10" class="form-control postTextArea postInput" id="usr" placeholder="Lorem ipsum dolor sit amet"></textarea>
                </div>
            </div>
        </div>
        <h1 class="PostRowIntro">Contacts</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group postFormGroup postCheckDiv">
                    <label class="postCheck">
                        <input id="checkPost" type="checkbox" class="postCheckInput" checked="checked">
                        <span class="checkmark"></span>
                    </label>
                   <label for="checkPost" class="postCheckLabel">Allow to contact me via e-mail</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group postFormGroup">
                    <label for="usr">Phone number</label>
                    <input type="text" class="form-control postInput" id="usr" placeholder="212-217-7999">
                </div>
                <div class="form-group postFormGroup">
                        <button type="submit" class="form-control postSubmit" id="usr">POST</button>
                </div>
            </div>
            
        </div>
    </div>









    <th:block th:replace="fragment/footer :: footer"/>



</body>

</html>