<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PostHome.com - Search</title>


    <th:block th:replace="fragment/imports :: imports"/>

</head>

<body>


    <th:block th:replace="fragment/header :: header"/>



    <div class="postIntroDiv">
        <div class="container">
            <h1 class="postIntro">Advanced search</h1>
            <span class="postAdress">
                <p>home ></p>
                <p>search</p>
            </span>
        </div>
    </div>


    <div class="container mainDiv">

<section class="Mainsearch">
    <div class="row MainSearchRow">
        <form action="">
            <div class="col-xs-3">
                <input class="ms-input ms-input-key" type="text" placeholder="Type keywords here">
            </div>
            <div class="col-xs-3">
                <select class="ms-input" name="" id="">
                    <option selected disabled value="a">All cities</option>
                    <option value="b">b</option>
                </select>
            </div>
            <div class="col-xs-3">
                <select class="ms-input" name="" id="">
                    <option selected disabled value="a">All type of sales</option>
                    <option value="b">b</option>
                </select>
            </div>
            <div class="col-xs-3">
                <button class="ms-input ms-button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
            <div class="col-xs-3">
                <select class="ms-input" name="" id="">
                    <option selected disabled value="a">All type of properties</option>
                    <option value="b">b</option>
                </select>
            </div>
            <div class="col-xs-3">
                <select class="ms-input" name="" id="">
                    <option selected disabled value="a">Rooms</option>
                    <option value="b">b</option>
                </select>
            </div>
            <div class="col-xs-3">
                <select class="ms-input" name="" id="">
                    <option selected disabled value="a">Bedrooms</option>
                    <option value="b">b</option>
                </select>
            </div>
            <div class="col-xs-3">
                <select class="ms-input" name="" id="">
                    <option selected disabled value="a">Bathrooms</option>
                    <option value="b">b</option>
                </select>
            </div>
            <div class="col-xs-3">
                <input class="ms-input" type="number" placeholder="Min. price">
            </div>
            <div class="col-xs-3">
                <input class="ms-input" type="number" placeholder="Max. price">
            </div>
            <div class="col-xs-3">
                <input class="ms-input" type="number" placeholder="Min. area">
            </div>
            <div class="col-xs-3">
                <input class="ms-input" type="number" placeholder="Max. area">
            </div>
        </form>
    </div>
</section>

        <section class="MainResult">
            <div class="row mainResultRow">
                <div class="col-md-4 adDivSearchCol">
                    <div class="container-fluid adDiv adDivSearch">
                        <img class="adImg" src="images/1.jpg" alt="">
                        <span class="sale">SALE</span>
                        <p class="city">
                            <i class="fa fa-map-marker"></i> Chigago</p>
                        <i class="fa fa-star-o star"></i>
                        <p class="price">
                            <i class="fa fa-dollar"></i> 420.000</p>
                        <span class="sqmP">
                            <i class="fa fa-dollar"> 750/sq.m</i>
                        </span>
                        <p class="sqm">
                            <i class="fa fa-dollar"></i> 540 sq.m</p>
                        <span class="rooms">
                            <i class="fa fa-dollar"> 3 rooms</i>
                        </span>
                        <ul class="adBottom">
                            <li>
                                <p class="name">
                                    <i class="fa fa-user"></i> Jeff Beck</p>
                            </li>
                            <li>
                                <p class="date">
                                    <i class="fa fa-calendar"></i> 1 day ago</p>
                            </li>
                            <li>
                                <button class="btn moreButton">MORE</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 adDivSearchCol">
                    <div class="container-fluid adDiv adDivSearch">
                        <img class="adImg" src="images/1.jpg" alt="">
                        <span class="sale">SALE</span>
                        <p class="city">
                            <i class="fa fa-map-marker"></i> Chigago</p>
                        <i class="fa fa-star-o star"></i>
                        <p class="price">
                            <i class="fa fa-dollar"></i> 420.000</p>
                        <span class="sqmP">
                            <i class="fa fa-dollar"> 750/sq.m</i>
                        </span>
                        <p class="sqm">
                            <i class="fa fa-dollar"></i> 540 sq.m</p>
                        <span class="rooms">
                            <i class="fa fa-dollar"> 3 rooms</i>
                        </span>
                        <ul class="adBottom">
                            <li>
                                <p class="name">
                                    <i class="fa fa-user"></i> Jeff Beck</p>
                            </li>
                            <li>
                                <p class="date">
                                    <i class="fa fa-calendar"></i> 1 day ago</p>
                            </li>
                            <li>
                                <button class="btn moreButton">MORE</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 adDivSearchCol">
                    <div class="container-fluid adDiv adDivSearch">
                        <img class="adImg" src="images/1.jpg" alt="">
                        <span class="sale">SALE</span>
                        <p class="city">
                            <i class="fa fa-map-marker"></i> Chigago</p>
                        <i class="fa fa-star-o star"></i>
                        <p class="price">
                            <i class="fa fa-dollar"></i> 420.000</p>
                        <span class="sqmP">
                            <i class="fa fa-dollar"> 750/sq.m</i>
                        </span>
                        <p class="sqm">
                            <i class="fa fa-dollar"></i> 540 sq.m</p>
                        <span class="rooms">
                            <i class="fa fa-dollar"> 3 rooms</i>
                        </span>
                        <ul class="adBottom">
                            <li>
                                <p class="name">
                                    <i class="fa fa-user"></i> Jeff Beck</p>
                            </li>
                            <li>
                                <p class="date">
                                    <i class="fa fa-calendar"></i> 1 day ago</p>
                            </li>
                            <li>
                                <button class="btn moreButton">MORE</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 adDivSearchCol">
                    <div class="container-fluid adDiv adDivSearch">
                        <img class="adImg" src="images/1.jpg" alt="">
                        <span class="sale">SALE</span>
                        <p class="city">
                            <i class="fa fa-map-marker"></i> Chigago</p>
                        <i class="fa fa-star-o star"></i>
                        <p class="price">
                            <i class="fa fa-dollar"></i> 420.000</p>
                        <span class="sqmP">
                            <i class="fa fa-dollar"> 750/sq.m</i>
                        </span>
                        <p class="sqm">
                            <i class="fa fa-dollar"></i> 540 sq.m</p>
                        <span class="rooms">
                            <i class="fa fa-dollar"> 3 rooms</i>
                        </span>
                        <ul class="adBottom">
                            <li>
                                <p class="name">
                                    <i class="fa fa-user"></i> Jeff Beck</p>
                            </li>
                            <li>
                                <p class="date">
                                    <i class="fa fa-calendar"></i> 1 day ago</p>
                            </li>
                            <li>
                                <button class="btn moreButton">MORE</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 adDivSearchCol">
                    <div class="container-fluid adDiv adDivSearch">
                        <img class="adImg" src="images/1.jpg" alt="">
                        <span class="sale">SALE</span>
                        <p class="city">
                            <i class="fa fa-map-marker"></i> Chigago</p>
                        <i class="fa fa-star-o star"></i>
                        <p class="price">
                            <i class="fa fa-dollar"></i> 420.000</p>
                        <span class="sqmP">
                            <i class="fa fa-dollar"> 750/sq.m</i>
                        </span>
                        <p class="sqm">
                            <i class="fa fa-dollar"></i> 540 sq.m</p>
                        <span class="rooms">
                            <i class="fa fa-dollar"> 3 rooms</i>
                        </span>
                        <ul class="adBottom">
                            <li>
                                <p class="name">
                                    <i class="fa fa-user"></i> Jeff Beck</p>
                            </li>
                            <li>
                                <p class="date">
                                    <i class="fa fa-calendar"></i> 1 day ago</p>
                            </li>
                            <li>
                                <button class="btn moreButton">MORE</button>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 adDivSearchCol">
                    <div class="container-fluid adDiv adDivSearch">
                        <img class="adImg" src="images/1.jpg" alt="">
                        <span class="sale">SALE</span>
                        <p class="city">
                            <i class="fa fa-map-marker"></i> Chigago</p>
                        <i class="fa fa-star-o star"></i>
                        <p class="price">
                            <i class="fa fa-dollar"></i> 420.000</p>
                        <span class="sqmP">
                            <i class="fa fa-dollar"> 750/sq.m</i>
                        </span>
                        <p class="sqm">
                            <i class="fa fa-dollar"></i> 540 sq.m</p>
                        <span class="rooms">
                            <i class="fa fa-dollar"> 3 rooms</i>
                        </span>
                        <ul class="adBottom">
                            <li>
                                <p class="name">
                                    <i class="fa fa-user"></i> Jeff Beck</p>
                            </li>
                            <li>
                                <p class="date">
                                    <i class="fa fa-calendar"></i> 1 day ago</p>
                            </li>
                            <li>
                                <button class="btn moreButton">MORE</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <th:block th:replace="fragment/footer :: footer"/>



</body>

</html>